<body class="bg-gray-100 p-8 min-h-screen flex-1">
    <div class="flex mb-4">
        <img id="posterLink" src="{{moviePoster}}" alt="Movie Poster" class="mb-4 mx-2 w-1/2 sm:w-1/5 md:w-1/6">

        <div>
            <h1 id="movieTitle" class="text-3xl text-center font-bold mb-4">{{movieTITLE}}</h1>
            
            <div id="imdbRating" class="  mb-4 ml-20">
                <h3 class="text-2xl font-bold">IMDB rating</h3>
                <p class="text-1.7xl">{{imdb_rating}}</p>
            </div>

            <div id="synopsisbox" class=" mb-8 ml-20">
                <h2 class=" text-2xl font-bold  mb-2">Synopsis</h2>
                <p>{{movieSynopsis}}</p>
            </div>

            <div id="streamingbox" class="  mb-4 ml-20">
    <h3 class=" text-2xl font-bold  mb-2">Streaming services to watch on:</h3>
    
    <div class="flex space-x-4">
        {{#each summarisedServices as |Stream|}}
            <div class="border bg-gray-200 p-2 rounded-md">
                <h4 class="text-sm font-medium">{{Stream}}</h4>
            </div>
        {{/each}}
    </div>
</div>

        </div>
    </div>

    <iframe class="mb-4" width="620" height="315" src="https://www.youtube.com/embed/{{youtubeKey}}"></iframe>

    <div id="commentsbox" class="mb-4">
        {{#each movieComments as |Comments|}}
        <div class="userComments bg-gray-200 p-2 rounded-md mb-2">
            <p class="text-sm">{{Comments.comment}}, Posted by: {{Comments.user.username}}</p>
        </div>
        {{/each}}
    </div>

    {{#if logged_in}}
    <div id="newWishDiv">
        {{!-- <button>Add Movie to wishlist<img src="/images/shooting-star.247x256.png" alt="star image" height="124" width="128"></button> --}}
        <button type="button" class="btn btn-primary text-dark" data-bs-toggle="modal" data-bs-target="#exampleModaly" id="modal-button2">Add Movie to wishlist<img src="/images/shooting-star.247x256.png" alt="star image" height="124" width="128"></button>

    </div>
    <div id="makeComment" class="mb-4">
        <form id="newCommentForm" class="{{userID}}">
            <label for="newComment" class="block text-sm font-medium mb-2">Make comment on movie</label>
            <textarea name="newComment" id="newComment" cols="30" rows="5" class="w-full rounded-md shadow-md mb-2"></textarea>
            <label for="rating" class="block text-sm font-medium mb-2">Rating</label>
            <input type="range" id="rating" name="rating" min="0" max="5" value="2" step="1" class="mb-2">
            <button id="commentBtn" type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md">Submit</button>
        </form>
    </div>
    {{else}}
    <div>
        <a href="/api/login"><h3>Please Login to make a comment</h3></a>
    </div>
    {{/if}}

       {{!-- <button type="button" class="btn btn-primary text-dark" data-bs-toggle="modal" data-bs-target="#exampleModaly" id="modal-button2">search</button> --}}


  <div class="modal fade" id="exampleModaly" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel2">Personal Wishlist</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul id="wish-list">Movies</ul>
          {{!-- ... --}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
        </div>
      </div>
    </div>
  </div>

    <script src="/js/movie.js"></script>
</body>
